FORMAT: 1A
HOST: https://assets-int.bqws.io/

# Assets (v1.0)
This module controls the user assets. When a user purchases a product, that product could have a number of assets asociated with it. If the user want to access to the resources witch thouse assets give access, he needs to use this module.

# Group Upgrade Token

## Access to user assets [/v1.0/asset/access]

### Access [GET]
This endpoint allows the user to obtain a new session token, assuming that user's assets had changed recently and it's necesary to perform the update.


###Header###
|Name|Description|Type|Required|Default|
|------|-----|-----------|:--:|:--|
|No-Redirect|If true, returns 200 with the redirect endpoint in the header "Location" and the client should perform the redirection manualy. Else the request replies with a 303 code an redirects to IAM.|Boolean||false|


###Errors###
|Status|Error|Description|
|------|-----|-----------|
|401|unauthorized| If the access_token is not associated with any user.
|409  |conflict|No-Redirect=false and the user has many assets. No-Redirect=true header is highly recomended.|


+ Request
    + Header
    
            No-Redirect: false

+ Response 303

    + Header
    
            Location: https://iam-int.bqws.io/v1.0/token/upgrade?assertion=asdhaewodnwodanwasdasdwefr230r20r


+ Request
    + Header
    
            No-Redirect: true

+ Response 200 (No-Redirect=True)

    + Header
    
            Location: https://iam-int.bqws.io/v1.0/token/upgrade

    + Body

            { 
                "assetion" : "asdhaewodnwodanwasdasdwefr230r20r", 
                "grant" : "urn:ietf:params:oauth:grant-type:jwt-bearer", 
                "bearer": "eyJ0eXBlIjoiVE9LRU4iLCJjbGllbnRJZCI6ImE5ZmIwZTc5Iiwic3RhdGUiOiIxNDQxNzIyOTU3MDAwIiwiZG9tYWluSWQiOiJzaWxrcm9hZC1xYSIsInVzZXJJZCI6ImZvb2lkIiwiZ3JvdXBzIjpbXX0.5208cf5e4854f.HnibZqi2ha-_Js44rw1l42T2uL0%22%7D",
            }

    

## Assets [/v1.0/asset]
this endpoint allow to read and create assets. 

### Get assets [GET]

###Fields###
|Name|Description|Type|Required|
|----|-----------|----|:------:|
|id  |asset identifier|String|
|userId|User identifier|String|
|name|Define the asset|String|
|productId|Product that contains this asset|String|
|expire|Timestamp|Date|
|active|asset is validated|Boolean|
|scopes|String array with scopes associated with the asset|String|



###Errors###
|Status|Error|Description|
|------|-----|-----------|
|401  |unauthorized|If the access_token is not associated with any user.|

+ Request
    + Header
    
            Authorization: Bearer {access_token}

+ Response 200 (application/json)


        { 
        "_id" : "53aaadfbe4b005e52b14ff37", 
        "userId" : "fooid", 
        "name" : "assettest", 
        "productId": "12345",
        "expire" : ISODate("2025-01-01T00:01:00Z"), 
        "active" : true, 
        "scopes" : [
                "assets:test"
                ] 
        }

### Create assets [POST]
this endpoint allow to create assets. 

###Fields###
|Name|Description|Type|Required|
|----|-----------|----|:------:|
|id  |asset identifier|String|
|userId|User identifier|String|
|name|Define the asset|String|
|productId|Product that contains this asset|String|
|expire|Timestamp|Date|
|active|asset is validated|Boolean|
|scopes|String array with scopes associated with the asset|String|



###Errors###
|Status|Error|Description|
|------|-----|-----------|
|400|not_existent_scope| Obtained when submitted assets do not contain valid scopes.
|401  |unauthorized|If the access_token is not associated with any user.|
|422  |invalid_entity|JSON doesn't correspond to assets or is empty|

+ Request (application/json)
    + Header
    
            Authorization: Bearer {access_token}

    + Body
    
            { 
                "userId" : "fooid", 
                "name" : "assettest", 
                "productId": "12345",
                "expire" : ISODate("2025-01-01T00:01:00Z"), 
                "active" : true, 
                "scopes" : [
                    "assets:test"
                ] 
            }

+ Response 201 
    + Header
    
            Location: http://assets.int.bqreaders.com/v1.0/assets/asset/{newId}

# Group Assets management
Avaliable from version 0.21.0
## Assets [/v1.0/asset/all]
this endpoint allow to read all assets. 

### Get assets [GET]

###Fields###
|Name|Description|Type|Required|
|----|-----------|----|:------:|
|id  |asset identifier|String|
|userId|User identifier|String|
|name|Define the asset|String|
|productId|Product that contains this asset|String|
|expire|Timestamp|Date|
|active|asset is validated|Boolean|
|scopes|String array with scopes associated with the asset|String|



###Errors###
|Status|Error|Description|
|------|-----|-----------|
|401  |unauthorized|If the access_token is not associated with any user.|

+ Request
    + Header
    
            Authorization: Bearer {access_token}

+ Response 200 (application/json)

        [
            { 
            "_id" : "53aaadfbe4b005e52b14ff37", 
            "userId" : "fooid", 
            "name" : "assettest", 
            "productId": "12345",
            "expire" : ISODate("2025-01-01T00:01:00Z"), 
            "active" : true, 
            "scopes" : [
                    "assets:test"
                    ] 
            }
        ]

## Assets [/v1.0/asset/{id}]
this endpoint allow to read and delete assets. 

### Get assets [GET]

###Fields###
|Name|Description|Type|Required|
|----|-----------|----|:------:|
|id  |asset identifier|String|
|userId|User identifier|String|
|name|Define the asset|String|
|productId|Product that contains this asset|String|
|expire|Timestamp|Date|
|active|asset is validated|Boolean|
|scopes|String array with scopes associated with the asset|String|



###Errors###
|Status|Error|Description|
|------|-----|-----------|
|401  |unauthorized|If the access_token is not associated with any user.|
|404  |not_found|When asset not exist.|

+ Request
    + Header
    
            Authorization: Bearer {access_token}

+ Response 200 (application/json)

        [
            { 
                "_id" : "53aaadfbe4b005e52b14ff37", 
                "userId" : "fooid", 
                "name" : "assettest", 
                "productId": "12345",
                "expire" : ISODate("2025-01-01T00:01:00Z"), 
                "active" : true, 
                "scopes" : [
                        "assets:test"
                        ] 
            }
        ]



### Delete assets [DELETE]


###Errors###
|Status|Error|Description|
|------|-----|-----------|
|401  |unauthorized|If the access_token is not associated with any user.|

+ Request (application/json)
    + Header
    
            Authorization: Bearer {access_token}


+ Response 204

